<ion-header >
  <ion-toolbar>
    <ion-icon name="home" slot="start"></ion-icon>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main>
    <ion-card *ngIf="activarNotaEntrega == 'true'" (click)="navegar('/nota-entrega')">
      <ion-icon name="pencil"></ion-icon>
      <span>Editar Nota de Entrega</span> 
    </ion-card>
    <ion-card *ngIf="activarNotaDebito == 'true'" (click)="navegar('/nota-debito')">
      <ion-icon name="pencil"></ion-icon>
      <span>Editar Nota de Debito</span>  
    </ion-card>
  </main>
  <div class="changeIp" (click)="cambiarIp()"></div>
</ion-content>